.footer {
  background-color: $second-background-color;
}

.page-footer {
  padding-top: 60px;

  &__description {
    display: flex;
    gap: 70px;
  }
  &__description--section {
    font-size: 14px;
    font-weight: 700;

    color: $second-color;
  }
}

.address {
  color: var(--second-color, white);
  line-height: 1.71;
  font-style: normal;
  font-size: 14px;

  &--color {
    font-style: normal;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
    padding-top: 20px;
  }
}

.footer-contact__list {
  list-style-type: none;
  line-height: 1.71;
}

.footer-contact__item--mail {
  padding-top: 9px;
}

.footer-contact__item--number {
  padding-top: 9px;
  padding-bottom: 60px;
}

.footer-contact__link {
  text-decoration: none;
  color: $description-color;

  font-weight: 500;
  font-size: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &:focus {
    color: $active-color;
  }
}

.social__link {
  background-color: $circle-background-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    background-color: $blue-color;
  }

  &:hover svg {
    fill: $second-color;
  }
}

.newsletter__text {
  font-size: 14px;
  font-weight: 700;
  color: $second-color;
  margin-bottom: 20px;
}

.newsletter__form {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  flex-direction: row;
}

.newsletter__label {
  display: flex;
  flex-direction: column;
}

.newsletter__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 16px;
  outline-color: #2196f3;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.newsletter__submit {
  width: 200px;
  height: 50px;
  background-color: $active-color;
  color: $second-color;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    cursor: pointer;
  }
}
