.grid {
  margin-top: 40px;
  margin-bottom: 60px;

  @media screen and (min-width:768px) {
    margin-top: 30px;
  }

    @media screen and (min-width:1200px) {
      margin-top: 50px;
      margin-bottom: 94px;
    }
}

.grid__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-around;
  row-gap: 30px;

  @media screen and (min-width:768px) {
    justify-content: left;
    gap: 30px;
  }
    @media screen and (min-width:1200px) {
justify-content: space-around;
gap: 0;
row-gap: 30px;
  }
}

.grid__item {
  background: $second-color;

  @media screen and (min-width:768px) {
   max-width: 354px;
   max-height: 440px;
  }
    @media screen and (min-width:1200px) {
      max-width: 370px;
        max-height: 404px;
    }
  
  &:hover .text__box {
    transform: translateX(0);
    background-color: var(--first-color);
  }

  
}

.grid__overlay {
  position: relative;
  overflow: hidden;
  margin: 0;

  &:hover {
    cursor: pointer;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &--second {
    position: relative;
    overflow: hidden;
    
  }
}

.grid__image {
  display: block;
}

.text__box {
  position: absolute;
  bottom: 0;
  height: 100%;
  transform: translatey(100%);
  transition: ease-in 250ms;

  &--description {
    height: 100%;
    background-color: $blue-color;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;
    color: $second-color;
    padding: 49px 45px 49px 24px;
    margin: 0%;
  }
}

.grid__figcaption {
  padding: 20px 24px;
  border-bottom: 1px solid $grey-line-color;
  border-left: 1px solid $grey-line-color;
  border-right: 1px solid $grey-line-color;
}

.grid__name {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.grid__subtitle {
  color: $description-color;

  line-height: 1.875;
  font-size: 16px;
}
